---
import Layout from '../layouts/Layout.astro'



---

<style is:raw>
    span{
        padding: 12px 24px;
        width: max-content;
    }
    h1{
        font-size: 36px;
        margin-top: 40px;
    }
    h2{
        font-size: 24px;
        font-weight: 700;
    }
</style>

<Layout title="About" description='About page'>
    <div class="w-100 f-col f-align-center">
        <h1>Error 404</h1>
        <h2>Page Not Found</h2>
        <a class="pc-btn-black br-6 d-flex mt-3" href="/PromedyCalculator">Get Back</a>
    </div>
</Layout>
