---
import Layout from '../layouts/Layout.astro'



---

<Layout title="404 Error" description='No Page Found'>
    <div class="w-100 f-col f-align-center">
        <h1>Error 404</h1>
        <h2>Page Not Found</h2>
        <p class="btn-black br-6 d-flex mt-3" onclick="history.back()">Get Back</p>
    </div>
</Layout>

<style is:raw>
    span{
        padding: 12px 24px;
        width: max-content;
    }
    h1{
        font-size: 36px;
        margin-top: 40px;
    }
    h2{
        font-size: 24px;
        font-weight: 700;
    }
</style>
