---
import Count from "@Apps/Count";
import Layout from "@Layouts/Layout.astro";

---

<Layout title="Template" description="Template">
	<main class="f-col f-justify-center text-center">
		<h1 class="mt-6 fw-500">Template Astro Lifo</h1>
		<div class="f-row g-3 mx-auto mt-3">
			<Count text="Count" client:visible />
			<Count text="Count" client:visible />
			<Count text="Count" client:visible />
		</div>
	</main>
</Layout>
