---
import Count from "@Apps/Count";
import Layout from "@Layouts/Layout.astro";

---

<Layout title="Template" description="Template">
	<main class="m-auto flex-col items-center justify-center">
		<h1 class="mt-6 fw-500 text-center">Template Astro Lifo</h1>
		<span class="d-flex mx-auto p-2 bg-amber-400 rounded-md text-lifo-title dark w-max">
			wasa
		</span>
		<div class="f-row g-3 mx-auto mt-3">
			<Count text="Count" client:visible />
			<Count text="Count" client:visible />
			<Count text="Count" client:visible />
		</div>
	</main>
</Layout>
