---
import { ExampleStore } from "../context/GlobalStore";

import Layout from "../layouts/Layout.astro";
import PromotionAdd from '../components/PromotionAdd/PromotionAdd.astro'


const example = ExampleStore.get();
---

<Layout title="Project" description="desc">
    <p>{example}</p>
    <PromotionAdd />
</Layout>
