.app-input-parent {
    width: 100%;
}

.app-input-div {
    min-width: 80px;
    width: 80%;
}

.app-input-input {
    border: solid 1px #4F4F4F;
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
}

.app-input-div span {
    height: 100%;
    width: 56px;
    right: 0px;
    font-size: 15px;
}

.app-in-per-list {
    width: fit-content;
}

.app-input-per {
    min-width: 60px;
    width: 80px;
    border: solid 1px #4F4F4F;
    padding: 12px;
    font-size: 16px;
}

.app-in-close {
    height: 40px;
    width: 40px;
    opacity: 0;
    cursor: auto;
    transition: opacity 0.15s;
    position: relative;
    right: -6px;
    scale: 1.2;
}

.app-in-close svg {
    stroke: #d12133;
    transform: translateX(-10px);
    transition: transform 0.2s;
}

.app-in-close:hover {
    opacity: 1;
    cursor: pointer;
}

.app-in-close:hover svg {
    transform: translateX(0px);
}