---

---

<style is:raw>
    footer{
        margin-top: 20px;
        padding: 20px;
    }
    a{
        font-size: 14px;
        font-weight: 500;
        padding: 4px 6px;
        margin: 0;
    }
    p{
        margin: 0;
    }
</style>

<footer class="Footer f-col f-center">
    <section class="f-row f-justify-center f-align-center g-5">
        <a class="app-text" href="/PromedyCalculator/Report">Report Bug</a>
        <a class="app-text" href="/PromedyCalculator/Privacy">Repository</a>
        <p class="app-text" ><a href="https://github.com/Lifo123/">LIFO</a> - {new Date().getFullYear()}</p>
    </section>
</footer>